@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Kanit", serif;
    --fonte3: "Sriracha", serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%;
    background-color: #fff5de;
    font-family: var(--fonte1);
}

header {
    background-color: #805500;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 9vw;
}

h1.degrade {
    background: linear-gradient(to top, #f8d287, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

header > p {
    padding-bottom: 50px;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2em;
    
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: #fff5de;
    color: #000000;
}

section.imagem {
    background-color: white;
    color: #000000;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../imagens/cordel.jpg);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
}

footer {
    background-color: #805500;
    text-align: center;
    padding: 5px;
}